@page "/consulta-contacto-detalle/{id:int}"
@model Concesionaria.Admin.Pages.ConsultaContacto.DetalleConsultaModalModel
@{
    ViewBag.Title = "Detalle de consulta de contacto";
    Layout = null;
}

@section styles
{
}

<div class="overflow-hidden align-items-center d-flex">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                    @if (Model.ConsultaDetalle is null)
                    {
                        <div class="alert alert-danger">No se encontró la consulta.</div>
                    }
                    else
                    {
                        <div class="card">
                            <div class="card-header d-block">
                                <h3 class="bold mb-1">@($"{Model.ConsultaDetalle.Nombre} {Model.ConsultaDetalle.Apellido}")</h3>
                                <div class="align-top d-flex justify-content-center">
                                <i class="ti ti-mail fs-2 me-1 text-primary"></i> <span>@Model.ConsultaDetalle.Email</span><span class="bold mx-2">|</span><i class="ti ti-phone fs-2 me-1 text-primary"></i> <span>@Model.ConsultaDetalle.Telefono</span>
                                </div>
                            </div>

                            <div class="card-body text-start">
                                <blockquote class="card-bodyquote mb-0">
                                    <p class="text-body">
                                        @Model.ConsultaDetalle.Mensaje
                                    </p>
                                </blockquote>
                            </div> <!-- end card-body-->
                            <div class="card-footer" >
                                <h6 class="card-subtitle text-body-secondary">Recibida el @Model.ConsultaDetalle.FechaEnvio.ToString("g")</h6>
                            </div>
                        </div>
                    }                  

            </div>
        </div>
    </div>
</div>

@section scripts
{
}